@media screen and (max-width: 768px) {
    .navbar-bar{
        width: auto;
        height: 100px;
    }
    .navbar-bar ul{
        margin-left: 38%;
    }

    .inicio-bar{
        width: auto;
    }
    .miku-stand{
        float: right;
        left: 0;
    }
    .card{
        left: -100px;
        width: 450px;
    }
    .bio-sec{
        width: auto;
        height: 610px;
        padding: 100px 60px;
    }
    .music{
        width: auto;
        height: fit-content;
    }
    .conciertos{
        width: auto;
    }
    .footer{
        width: auto;
    }
}

@media screen and (max-width: 480px) {
    .navbar-bar{
        width: auto;
        height: 100px;
    }
    .navbar-bar ul{
        margin-left: 37%;
    }
    .navbar-bar ul li {
        font-size: 12px;

    }
    .navbar-bar ul li a{
        padding: 5px 10px;

    }

    .navbar-logo img{
        height: 69px;
    }

    .inicio-bar{
        width: auto;
    }
    .miku-stand{
        float: right;
        top: 10px;
    }
    .miku-stand img{
        height: 180px;
    }
    .card{
        left: 0px;
        width: 450px;
    }
    .bio-sec{
        width: auto;
        height: fit-content;
        padding: 100px 60px;
    }
    .music{
        width: auto;
        height: fit-content;
        text-align: center;
    }
    .conciertos{
        width: auto;
        height: fit-content;
        padding: 0%;
    }
    .prox{
        float: none;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 105px;

    }
    .reci{
        float: none;
        margin-top: 40px;
        margin-left: 105px;
    }
    .footer{
        width: auto;
        align-self: center;
    }
    .footer p{
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-bar{
        width: auto;
    }

    .inicio-bar{
        width: auto;
    }
    .bio-sec{
        width: auto;
    }
    .music{
        width: auto;
        height: fit-content;
    }
    .conciertos{
        width: auto;
    }
    .footer{
        width: auto;
    }
}